# Dependencies
**/node_modules

# Build outputs
**/dist
**/build
**/.next
**/out

# Logs
**/logs
**/*.log

# Env files
**/.env
**/.env.*
!.env.example
!.env.local.example

# OS / Editor
.DS_Store
Thumbs.db
.vscode
.idea

# Prisma
**/.prisma

# Electron
**/.electron

# Misc
*.tsbuildinfo
