# Server
PORT=4000
NODE_ENV=development

# Database
DATABASE_URL="postgresql://nika:nika@localhost:5432/nbrowser?schema=public"

# Redis
REDIS_URL="redis://localhost:6379"

# JWT
JWT_ACCESS_SECRET="change-me-access"
JWT_REFRESH_SECRET="change-me-refresh"
JWT_ACCESS_TTL="15m"
JWT_REFRESH_TTL="7d"
